/* At some stuff to make website responsive to different viewports */

/* To stop white space on the right side of webpage */
html, body {
    width: 100%;
    overflow-x: hidden; 
}

body {
    /* Text */
    font-family: Arial;
    font-size: 25px;
    text-align: left;
    color: black;

    /* other */
    background-color: #121212;
    background-color: white;

    /* positioning */
    min-height: 95vh;
    min-width: 100vw;
    
    display: flex;
    flex-direction: column;

    /* for some reason the footer is affected when I add body padding */
    margin: 0px;
    padding: 0vw;
    border-width: 0px;
}

h1 {
    color: lightblue;  
    font-family: Arial;
    width: 100vw;
}

p {
    padding: 0px;
    margin: 0px;
}

a {
    color: black;

}

a:link {
    color: black;
}

a:visited {

}

a:hover {

}

a:active {

}

.main {
    /* colors */
    /* background-color: #181818; */
    background-color: blue;

    /* positioning */
    margin: 0px;
    padding: 1vw;
    padding-top: 0px;
}

.posts {
    /* colors */
    /* background-color: #272727; */
    background-color: green;

    border-style: solid;
    border-color: #272727;
    border-width: 0px;

    /* positioning */
    margin: 5vw;
    padding: 1.5vw 1.5vw 1vw 1.5vw;
}

ul {
    padding: 0px;
    margin: 3vw;

    background-color: red;
}

footer {
    text-align: center;
    
    background-color: #181818;
    background-color: red;

    /* positioning */
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

