/* At some stuff to make website responsive to different viewports */

/* root goes to the root elemet of the DOM */
:root {
    /* CSS variables for colours */
    --light-text: rgb(125, 125, 125);
    --light-title: rgb(57, 167, 242);
    --dark-background: rgb(30, 30, 30);
    --dark-background-2: rgb(51, 51, 51);
    --dark-background-3: ;
}

/* To stop white space on the right side of webpage */
html, body {
    width: 100%;
    overflow-x: hidden; 
}

body {
    /* Text */
    font-family: Arial;
    font-size: 25px;
    font-size: 2vw;
    font-size: 2vh;
    font-size:calc(16px + 0.5vw);
    font-size: 17pt;
    text-align: left;
    color: var(--light-text);

    /* other */
    background-color: var(--dark-background);

    /* positioning */
    min-height: 100vh;
    min-width: 100vw;
    
    display: flex;
    flex-direction: column;

    /* for some reason the footer is affected when I add body padding */
    margin: 0px;
    padding: 0vw;
    border-width: 0px;
}

h1 {
    color: var(--light-title);
    font-family: Arial;
    width: 100vw;
    margin-top: 1.5vh;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

h2 {
    color: var(--light-title);
    font-family: Arial;
    /* width: 100vw; THIS WAS CAUSING THE OVERFLOW!*/
    margin-top: 0vh;
    margin-bottom: 1.5vh;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

h3 {
    color: var(--light-title);
}


p {
    padding: 0px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 0px;
    margin-right: 0px;
}

.main {
    /* colors */
    background-color: var(--dark-background-2);

    /* positioning */
    margin: 0px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0px;
    padding-bottom: 1.5vh;

    /* border */
    border-width: 1px;
    border-color: black;
}

.posts {
    /* colors */
    background-color: var(--dark-background-2);
    border-width: 0px;

    /* positioning */
    margin: 2.5vw;
    margin-right: 4vw; /* The vertical scroll bar makes this appear smaller than the left side, a potential fix would be to do something like 2.5vw + width of scroll bar (?px) */
    padding-top: 1.5vh;
    padding-right: 1.5vw;
    padding-bottom: 1.5vh;
    padding-left: 1.5vw;
    padding: 2vw;

    /* border */
    border-width: 1px;
    border-color: black;
    box-shadow: 0 0 0.5vmax 0.25vmax rgb(0, 0, 0);
}

/* controlling text overflow */
#overflow {
    /* white-space: pre-line; */
    /* overflow-wrap: break-word; */
    /* overflow: auto; */
    /* word-break: break-all; */
    /* overflow-wrap: anywhere; */
    /* overflow: wrap; */
    /*controlling text overflow */
    overflow: wrap;
}

ul {
    padding: 1.5vw;
    margin: 1.5vw;
    line-height: 1.5;
    margin-left: 3vw;
}

.link {
    margin-left: 3vw;
}

.parent {
    margin-bottom: 0vh;
    padding-bottom: 0vh;
}

.embedded {
    padding: 1.5vw;
    margin: 0vw;
    margin-left: 1vw;
    line-height: 1.5;
}

li {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--light-text);

}

a:link {
    color: var(--light-text);
}

a:hover {
    text-decoration: underline;
    color:black;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.link:hover {
    color: black;
}

.underline {
    text-decoration: underline !important;
}

footer {
    text-align: center;
    
    background-color: var(--dark-background-2);

    /* positioning */
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 2.5vh;

    /* border */
    border-width: 1px;
    border-color: black;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.red {
    color:red;
    margin: 15px;
}

.green {
    color: green;
    margin: 15px;
}

.blue {
    color: blue;
    margin: 15px;
}

.centered {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.justified {
    text-align: justify;
}

img {
    margin: 1vh;
    max-width: 80vw;
    max-height: auto;
}

#smallimage {
    max-width: 40vw;
    max-height: auto;
}

.parent {
    color: var(--light-title);
}

.parent1{
    margin: 0px;
    margin-left: 1vw;
    color: var(--light-title);
}

.child{
    margin: 0px;
    margin-left: 5vw;
    list-style-type: square;
}

.invisible {
    display: none;
}